.stats-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.5rem;
    height: 13vh;
    width: 100%;
    color: white;
    box-sizing: border-box;
  }
  
  .stats-row-top {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5rem;
    position: relative;
    width: 100%;
  }
  
  .busy-stat {
    padding: 0.5rem 1rem;
    border-radius: 20px;
    font-weight: bold;
    font-size: 1rem;
    color: black;
    text-align: center;
    white-space: nowrap;
    min-width: 100px;
    max-width: 50%;
  }
  
  .time-label {
    font-size: 1rem;
    color: #fff;
    position: absolute;
    right: 10px; 
    white-space: nowrap;
  }
  
  .stats-row-bottom {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 1rem;
  }
  
  .total-spots-label,
  .available-spots-label {
    padding: 0.5rem 1rem;
    border-radius: 20px;
    font-weight: bold;
    font-size: 1rem;
    white-space: nowrap;
    text-align: center;
  }
  
  .total-spots-label {
    background-color: #b794f6;
  }
  
  .available-spots-label {
    background-color: #8bd3a1;
  }
  